html {
    background-image: url("https://flagcdn.com/w2560/gu.png");
    background-position: center top;
    background-size: cover;
    font-family: Verdana;
}

.button {
    font-size: 20px;
    border: none;
    color: white;
    background-color:darkslategray ;
    border-radius: 20px;
    width: 130px;
    height: 63px
}
.button:hover {
    background-color: rgb(255, 69, 0);
    cursor: pointer;
    transition: background-color 0.15s;
}
.button:active {
    background-color: red;
    transition: backgroundcolor 0.15;
}
.button1 {
    position: absolute; top: 40%; left: 20%;
}
.button2 {
    position: absolute; top: 60%; left: 20%;
}
.button3 {
    position: absolute; top: 40%; left: 75%;
}
.button4 {
    position: absolute; top: 60%; left: 75%;
}
